.report {
  background: rgba(0, 0, 0, 0.1);
}

.weatherDisplay {
  margin-top: 5rem;
}

#root {
  background: url(./images/weather-landscape.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 1rem;
}